In [1]:
import pandas as pd

data = pd.read_json('Movies_and_TV_5.json', orient='columns', lines=True)

In [2]:
data.describe()

            overall  unixReviewTime
count  1.697533e+06    1.697533e+06
mean   4.110648e+00    1.262422e+09
std    1.197615e+00    1.289277e+08
min    1.000000e+00    8.793792e+08
25%    4.000000e+00    1.164413e+09
50%    5.000000e+00    1.307491e+09
75%    5.000000e+00    1.373242e+09
max    5.000000e+00    1.406074e+09

In [3]:
data.head()

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,ADZPIG9QOCDG5,0005019281,"Alice L. Larson ""alice-loves-books""","[0, 0]",This is a charming version of the classic Dick...,4,good version of a classic,1203984000,"02 26, 2008"
1,A35947ZP82G7JH,0005019281,Amarah Strack,"[0, 0]",It was good but not as emotionally moving as t...,3,Good but not as moving,1388361600,"12 30, 2013"
2,A3UORV8A9D5L2E,0005019281,Amazon Customer,"[0, 0]","Don't get me wrong, Winkler is a wonderful cha...",3,Winkler's Performance was ok at best!,1388361600,"12 30, 2013"
3,A1VKW06X1O2X7V,0005019281,"Amazon Customer ""Softmill""","[0, 0]",Henry Winkler is very good in this twist on th...,5,It's an enjoyable twist on the classic story,1202860800,"02 13, 2008"
4,A3R27T4HADWFFJ,0005019281,BABE,"[0, 0]",This is one of the best Scrooge movies out. H...,4,Best Scrooge yet,1387670400,"12 22, 2013"

In [4]:
text = data['reviewText']
label = data['overall']

In [5]:
text.head()

0    This is a charming version of the classic Dick...
1    It was good but not as emotionally moving as t...
2    Don't get me wrong, Winkler is a wonderful cha...
3    Henry Winkler is very good in this twist on th...
4    This is one of the best Scrooge movies out.  H...
Name: reviewText, dtype: object

In [6]:
list_of_data = list(zip(text, label))

In [7]:
df = pd.DataFrame(list_of_data, columns=['Review', 'Label'])

In [8]:
df.describe()

              Label
count  1.697533e+06
mean   4.110648e+00
std    1.197615e+00
min    1.000000e+00
25%    4.000000e+00
50%    5.000000e+00
75%    5.000000e+00
max    5.000000e+00

In [9]:
df.head()

                                              Review  Label
0  This is a charming version of the classic Dick...      4
1  It was good but not as emotionally moving as t...      3
2  Don't get me wrong, Winkler is a wonderful cha...      3
3  Henry Winkler is very good in this twist on th...      5
4  This is one of the best Scrooge movies out.  H...      4

In [13]:
df['Review'][1]

'It was good but not as emotionally moving as the the Christmas Carol by Dickens  I like Christmas movies that make me sigh'

In [14]:
df['Label'][1]

3

In [15]:
df.to_csv('Amazon_Movie_reviews.csv')