In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv(r'C:\Users\Shubham\Desktop\Machine Learning\Dataset\Amazon_Movie_reviews.csv')

In [3]:
dataset['Label'] = dataset['Label'].where(dataset['Label']>3, 0)

In [4]:
dataset['Label'] = dataset['Label'].where(dataset['Label']<4, 1)

In [5]:
dataset.head()

   Unnamed: 0                                             Review  Label
0           0  This is a charming version of the classic Dick...      1
1           1  It was good but not as emotionally moving as t...      0
2           2  Don't get me wrong, Winkler is a wonderful cha...      0
3           3  Henry Winkler is very good in this twist on th...      1
4           4  This is one of the best Scrooge movies out.  H...      1

In [6]:
Old_dataset = pd.read_csv(r'C:\Users\Shubham\Desktop\Machine Learning\Dataset\Amazon_Movie_reviews.csv')

In [7]:
Old_dataset.head()

   Unnamed: 0                                             Review  Label
0           0  This is a charming version of the classic Dick...      4
1           1  It was good but not as emotionally moving as t...      3
2           2  Don't get me wrong, Winkler is a wonderful cha...      3
3           3  Henry Winkler is very good in this twist on th...      5
4           4  This is one of the best Scrooge movies out.  H...      4

In [8]:
dataset.to_csv('Amazon_Movie_reviews_labeled.csv')

In [9]:
len(dataset)

1697533