In [1]:
import pandas as pd
import pickle
import numpy
import matplotlib.pyplot as plt

In [6]:
dataset = pd.read_csv(r'C:\Users\Shubham\Desktop\Machine Learning\Dataset\corpus1_with_stopwords.csv')
dataset1 = pd.read_csv('lem_corpus_with_stopwords.csv')

In [7]:
dataset.head()

   Unnamed: 0                                            Reviews    Labels
0           0  one of the other reviewer have mention that af...  positive
1           1  a wonderful little production br br the film t...  positive
2           2  i thought this be a wonderful way to spend tim...  positive
3           3  basically there s a family where a little boy ...  negative
4           4  petter mattei s love in the time of money be a...  positive

In [8]:
dataset1.head()

   Unnamed: 0                                            Reviews  Labels
0           0  this is a charming version of the classic dick...     1.0
1           1  it wa good but not a emotionally moving a the ...     0.0
2           2  dont get me wrong winkler is a wonderful chara...     0.0
3           3  henry winkler is very good in this twist on th...     1.0
4           4  this is one of the best scrooge movie out henr...     1.0

In [31]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()
dataset['Labels'] = encoder.fit_transform(dataset['Labels'])

In [32]:
new_dataset = pd.concat([dataset, dataset1])

In [33]:
new_dataset.describe()

          Unnamed: 0         Labels
count  250000.000000  250000.000000
mean    84999.500000       0.500000
std     60069.524442       0.500001
min         0.000000       0.000000
25%     31249.750000       0.000000
50%     74999.500000       0.500000
75%    137499.250000       1.000000
max    199999.000000       1.000000

In [34]:
new_dataset.head()

   Unnamed: 0                                            Reviews  Labels
0           0  one of the other reviewer have mention that af...     1.0
1           1  a wonderful little production br br the film t...     1.0
2           2  i thought this be a wonderful way to spend tim...     1.0
3           3  basically there s a family where a little boy ...     0.0
4           4  petter mattei s love in the time of money be a...     1.0

In [35]:
del new_dataset['Unnamed: 0']

In [37]:
new_dataset.to_csv('Combined_dataset.csv', index=False)